import Settings from "./menu-settings.marko";
import Boards from "./menu-boards.marko";
import Filter from "./menu-filter.marko";
import "../styles/menu.css";

<div class="menu-bar">
  <button class="menu-btn">Settings</button>
  <button class="menu-btn">Boards</button>
  <button class="menu-btn">Filter</button>
</div>

